<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lab3</title>
</head>
<nav>
    <ul>
    <li><a href="/">Lab3 EJS Family</a></li>
    <li><a href="/Tracey">Tracey</a></li>
    <li><a href="/Dave">Dave</a></li>
    <li><a href="/Jeff">Jeff</a></li>
    <li><a href="/Kara">Kara</a></li>
    </ul>
</nav>
</html>