<% include ./partials/header.ejs %>
  <h1>Dave Hall</h1>
<p>Dave has worked for the Ministry of Natural Resources since he was 20 fighting forest fires.</br>
 Currently works as an air attack officer directing water bombers from a cessna plane. Loves Fishing & Beer</p>
</body>
</html>
<% include ./partials/footer.ejs %>