<% include ./partials/header.ejs %>
  <h1>Jeff Hall</h1>
<p>Jeff is a computer programming student at georgian college.</br>
He hopes to graduate and dedicate fully to a job in the field. Loves video games & sports.</p>
</body>
</html>
<% include ./partials/footer.ejs %>