<% include ./partials/header.ejs %>
  <h1>Jeff Hall</h1>
<p>Tracey has worked as Hr & Management for various construction companies over her life. </br>
Shes a real workaholic and is often found sorrounded by stacks of paper</p>
</body>
</html>
<% include ./partials/footer.ejs %>